* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Esto evita que el padding rompa el ancho de tus divs */
}

body {
  font-family: sans-serif; /* O la que prefieras */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none; /* Quita los puntos de las listas */
}

a {
  text-decoration: none; /* Quita el subrayado azul de los links */
  color: inherit;
}