.Details-bar {
display: flex;
    z-index: 1000;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    
    background-color: #0f0f0f;
    height: 70px;
    
    position: fixed;  
    top: 0;            
    
    /* --- AQUÍ ESTÁ EL ARREGLO --- */
    left: 230px; /* 1. Empieza justo después del sidebar (Cambia 250px por el ancho de tu sidebar) */
    width: calc(100% - 230px); /* 2. Ocupa el 100% de la pantalla MENOS el ancho del sidebar */
    /* ---------------------------- */
  
    border-bottom: 1px solid #333;
    padding: 50px 20px;
    box-sizing: border-box;
} 

